{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/style.css'%}">
    <link href='http://fonts.googleapis.com/css?family=Brygada+1918&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>
        {% block tittle%}
        {% endblock %}
    </title>
    <link rel="icon" href="{% static 'portfolio/mk.jpg' %}" type="image/icon type">
    <script
        src="{% static 'portfolio/main.js' %}"> 
    </script>
</head>
<body>
    <div class="base">
    <!--side bar container--> 
            <div id="mySidenav" class="sidenav">
                
                <a href="{% url 'home' %}" class="author">Michał Kazimierczuk</a>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
               
                <a href="{% url 'photos' %}" class="photos-link">Photos</a>
                <a href="{% url 'films' %}" class="films-link">Films</a>
                <a href="{% url 'music' %}" class="music-link">Music</a>
                
                <a href="{% url 'press' %}" class="texts-link">Texts</a> 
                <a href="{% url 'publications' %}" class="publications-link">Publications</a>
                <a href="{% url 'about' %}" class="about-link">About</a>
                <a href="{% url 'contact' %}" class="contact-link">Contact</a>
                
                
            </div>
            <span style="font-size:30px;cursor:pointer" onclick="openNav()" id='icon'>&#9776;</span>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>