{% extends 'base.html' %}
{% load static %}

{% block tittle%}
Contact
{% endblock %}

{% block content %}
<div class="contact-main">
    <hr>
        <div class="contact-container">
            {% for contact in contact%}
            <div id="contact1">
                {{ contact.tittle }}<br>
                {{ contact.name }}<br>
                <b>{{ contact.email }}<b><br>
                {{ contact.phone_number }}
            </div>
            {% endfor %}
        </div>
    <hr>
</div>
{% endblock content %}
