{% extends 'base.html' %}
{% load static %}

{% block tittle%}
Films
{% endblock %}

{% block content %}
<div>
    {% for film in films  %}
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/{{ film.url }}" 
            title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe><br>
        <p>{{ film.tittle }}</p>
    {% endfor %}
</div>
{% endblock content %}