{% extends 'base.html' %}
{% load static %}

{% block tittle%}
Music
{% endblock %}

{% block content %}
<div>
    <iframe class="films-detail" width="800" height="450"
        src="https://www.youtube.com/embed/{{ music.url }}" 
        title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe><br>
    <p class="films-tittle">{{ music.tittle }}</p>
    <!--width="560" height="315"-->
</div>
{% endblock content %}