{% extends 'base.html' %}
{% load static %}

{% block tittle%}
Photos
{% endblock %}

{% block content %}
<div class="album-tittle">
        <hr>
        <h2>{{ photo.tittle}}</h2><br>
        <hr>
</div>
<div class="album-descriptions">
<!--main photos container-->
    <div class="album">
        <aside class="album-photos">
            <!--<img  src="{{ photo.image.url }}" id="photo1" class="album-img" onclick="openModal();currentSlide(0)">-->
            {% for p in photos  %}
                <img src="{{ p.images.url }}" id="photo2" class="album-img" onclick="openModal();currentSlide({{ p.id }})">
            {% endfor %}
        </aside>
        <aside class="photo-description">
            {{ photo.description }}
        </aside>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close" onclick="closeModal()">&times;</span>
  <div id="modal-for-img">
    <!--<img class="modal-content" id="img01">-->
    <!--<div class="mySlides">
        <img class="img-lightbox" src="{{ photo.image.url }}">
    </div>-->
    {% for p in photos  %}
        <div class="mySlides">
            <img class="img-lightbox" src="{{ p.images.url }}" >
        </div>
    {% endfor %}
  <div>
  <div id="caption"></div>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
{% endblock content %}
