  {% extends 'base.html' %}
{% load static %}

{% block tittle%}
Texts
{% endblock %}


{% block content %}
<div class="photos-container">
        <!--main film container-->
    
        {% for text in page_obj %}
        <!--<a href="{% url 'press_detail' id=text.id %}">-->
        <a href="{{ text.pdf.url }}" target="_new">
        <div>
            <h3>{{ text.tittle }}</h3>
            <p>{{ text.text|truncatewords:50 }}</p>
        </div>
        </a>
        {% endfor %}
        
       
</div>
<div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            {% if page_obj.paginator.num_pages == 1 %}
                <span></span>
            {% else %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>     
{% endblock content %}
